
3/.cpp98scott_wc.cpp.swp

3/cpp11scott_wc

3/cpp98scott_wc

*.out

*.odp#

*.odt#

*.odt#

documents/.~lock.Кружок Информатики программа 2016-2017гг.odt#

*.odt#

documents/.~lock.Кружок Информатики программа 2016-2017гг.odt#

documents/.~lock.Кружок Информатики программа 2016-2017гг.odt#

5/bagwords.odp

documents/.~lock.Кружок Информатики программа 2016-2017гг.odt#

*.odt#

documents/.~lock.Кружок Информатики программа 2016-2017гг.odt#

*.odp

*.odp

*.odp

7/inf-s-2017.pdf

7/tr1desc1.pages

7/tr1desc2.pages

11/a.out.dSYM/Contents/Info.plist

11/Копия Classify.pdf

11/Копия Classify.pdf

12/kmp

12/kmp2

11/Копия Classify.pdf

11/Копия Classify.pdf

12/.sync.ffs_db

12/knuth_morris_pratt.pdf

11/Копия Classify.pdf

12/prefix

11/Копия Classify.pdf

11/Копия Classify.pdf

17/lecture5.pdf

20/cC2622-8-ch.pdf

19/BFBBBFE5.svg

19/BFBBBFE5.mm

*.jpg

*.mm

19/den_stroki_derevija_i_posledovatelnosti.djvu.zip

19/SuffixT1withFigs.pdf

20/Алгоритмы обработки строк .docx

20/Алгоритмы обработки строк .pdf

19/TODO.txt

20/Distance.uop

20/.~lock.Distance.uop#

*.swp

22/turing.png
